@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

html, body { 
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    overflow: hidden;
    width: 100%;
    height:100%;
   background-color: #c8c9c2;
}
body .sketchwrapper {
    position: absolute;
    width: 800px;
    height: 800px;

    top:50%;
    left:50%;

    margin:-425px 0 0 -400px;
    /* background-color: lawngreen; */

    z-index:-10;
}


.sketchwrapper .ferngully {
    width:100%;
    height:100%;
}

body .matchwrapper {
    position: absolute;
    width: 800px;
    height: 600px;

    top: 50%;
    left: 50%;

    margin: -400px 0 0 -400px;
    /*background-color:firebrick;*/
}
.matchwrapper .align {
    width: 100%;
    height: 25%;
}

.bolden {
    font-weight:600;
}
.align {
    height: 150px;
    position: relative;
    align-items: center;
}
.align>.content {
    padding: 50px 0;
    text-align: center;
    font-size:22pt;
}
.content {
    color:rgb(3, 3, 7);
}
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.third {
    top: 80%;
    left: 38%;
    margin: 300 0 0 300;
    position: absolute;
    justify-content: center;
    border-color: #e6a3ae;
    color: rgb(47, 46, 56);
    box-shadow: 0 0 40px 40px #e6a3ae inset, 0 0 0 0#e6a3ae;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.third:hover {
    box-shadow: 0 0 10px 0 #d179dd inset, 0 0 10px 4px #e6a3ae;
}

.second {
    top: 30%;
    left: 36.5%;
    margin: 300 0 0 300;
    position: absolute;
    justify-content: center;
    border-color: #a3c0e6;
    color: rgb(47, 46, 56);
    box-shadow: 0 0 40px 40px #a3c0e6 inset, 0 0 0 0#a3c0e6;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.second:hover {
    box-shadow: 0 0 10px 0 #797bdd inset, 0 0 10px 4px#a3c0e6;
}

.first {
    top: 30%;
    left: 36.5%;
    margin: 300 0 0 300;
    position: absolute;
    justify-content: center;
    border-color: #0c0d0e;
    color: rgb(209, 208, 204);
    box-shadow: 0 0 40px 40px#0c0d0e inset, 0 0 0 0#0c0d0e;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.first:hover {
    box-shadow: 0 0 10px 0 #797bdd inset, 0 0 10px 4px#a3c0e6;
}


/* INTERIOR LABELS */
#t0 {
    background-image: url(media/star1d.gif);
    pointer-events: auto;
 }
#nt{
    background-image: url(media/star2d.gif);
    pointer-events: none;
  }
#xt {
    background-image: url(media/star3d.gif);
    pointer-events: none;
}
#yt {
    background-image: url(media/star4d.gif);
    pointer-events: none;
}

.dud {
  color: rgba(83, 83, 38, 0.623);
}

